{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Produits
{% endblock %}

{% block content %}
<h1>Les produits !</h1>
    {% for key, product in products %}
        {% if key is divisible by 3 %}
            <br />
        {% endif %}
        {{ product }}
    {% endfor %}
    <h2>{{ dump(products) }}</h2>
{% endblock %}